<h1
  *ngIf="greetingTitle"
  [innerHTML]="greetingTitle"
  class="px-6 text-lg font-bold text-center uppercase"
></h1>

<p
  *ngIf="greetingMessage"
  class="px-6 text-base font-alternate text-center"
  [innerHTML]="greetingMessage"
></p>

<ion-button id="open-modal" color="light" shape="round">
  <span class="flex mr-2">Adicionar</span>
  <ion-icon class="w-7 h-7 text-[#4F378B]" name="add-circle-outline"></ion-icon
></ion-button>

<ion-modal
  #modal
  trigger="open-modal"
  class="ion-modal-custom"
  [initialBreakpoint]="0.6"
  [breakpoints]="[0, 0.25, 0.5, 0.6]"
  [backdropDismiss]="false"
  (willDismiss)="onModalDismiss()"
>
  <ng-template>
    <ion-content>
      <h2
        class="px-6 pt-8 pb-4 flex w-full font-extrabold text-[23px] text-[#4F378B]"
      >
        {{ formTitle }}
      </h2>
      <button
        (click)="onModalDismiss()"
        class="absolute top-4 right-4"
        ion-button
      >
        <ion-icon class="text-2xl text-[#4F378B]" name="close"></ion-icon>
      </button>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <ion-list class="px-6">
          <ion-item>
            <ion-input
              label="Nome"
              labelPlacement="floating"
              formControlName="name"
              autocomplete="address-line1"
              class="font-alternate"
              autocapitalize="true"
            ></ion-input>
          </ion-item>
          <p
            class="text-red-700 text-sm my-2 font-bold"
            *ngIf="
              formData.get('name')?.invalid && formData.get('name')?.touched
            "
          >
            Campo obrigatório. Deve ter pelo menos 3 caracteres.
          </p>
          <ion-item button lines="none" (click)="openTeamModal()">
            <ion-label slot="start">Selecione o time</ion-label>

            <ng-container *ngIf="formData.get('team')?.value">
              <ion-thumbnail class="flex items-center justify-center">
                <img
                  [alt]="formData.get('team')?.value"
                  [src]="getTeamImagePath(shield)()"
                />
              </ion-thumbnail>
              <ion-text
                class="whitespace-nowrap text-ellipsis w-32 overflow-hidden pl-2"
                >{{ formData.get("team")?.value }}</ion-text
              >
            </ng-container>
          </ion-item>
        </ion-list>

        <div class="flex w-full px-6 justify-end py-4">
          <ion-button color="secondary" shape="round" type="submit"
            >Adicionar</ion-button
          >
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  #teamModal
  [initialBreakpoint]="0.9"
  [breakpoints]="[0, 0.25, 0.5, 0.9]"
  (willDismiss)="onModalDismissTeams()"
>
  <ion-content>
    <ion-list class="pt-10 px-6" *ngIf="teams; else noTeams">
      <button
        (click)="onModalDismissTeams()"
        class="absolute top-4 right-4 z-10"
        ion-button
      >
        <ion-icon class="text-2xl text-[#4F378B]" name="close"></ion-icon>
      </button>
      <ion-item
        *ngFor="let item of teams(); trackBy: trackById"
        (click)="selectTeam(item)"
      >
        <ion-thumbnail slot="start">
          <img [alt]="item?.name" [src]="getTeamImagePath(item)()" />
        </ion-thumbnail>
        <ion-label>{{ item?.name }}</ion-label>
      </ion-item>
    </ion-list>
    <ng-template #noTeams>
      <p class="text-center text-gray-500">Nenhum time encontrado.</p>
    </ng-template>
  </ion-content>
</ion-modal>
