<ng-container *ngIf="greetings && players.length === 0">
  <h1
    [innerHTML]="greetings.title"
    class="px-6 text-lg font-bold text-center uppercase"
  ></h1>

  <p
    class="px-6 text-base font-alternate text-center"
    [innerHTML]="greetings.message"
  ></p>
</ng-container>

<ion-button
  class="my-4"
  (click)="openModal('addNew')"
  color="warning"
  shape="round"
>
  <span class="flex mr-2 text-yellow-950">Adicionar</span>
  <ion-icon class="w-7 h-7 text-yellow-950" name="add-circle-outline"></ion-icon
></ion-button>

<ion-toast
  [icon]="'checkmark-circle-outline'"
  [cssClass]="'custom-toast'"
  [position]="'top'"
  [translucent]="true"
  [isOpen]="isToastOpen"
  [message]="isUpdate ? successfullyUpdated : successfullyAdded"
  [duration]="3000"
></ion-toast>

<ion-modal
  #registerModalRef
  class="ion-modal-custom"
  [initialBreakpoint]="0.6"
  [breakpoints]="[0, 0.25, 0.5, 0.6]"
  [backdropDismiss]="false"
  (willDismiss)="onModalDismiss()"
>
  <ng-template>
    <ion-content>
      <h2
        class="px-6 pt-8 pb-4 flex w-full font-extrabold text-[23px] text-[#4F378B]"
      >
        {{ greetings?.formTitle }}
      </h2>
      <button
        (click)="onModalDismiss()"
        class="absolute top-4 right-4"
        ion-button
      >
        <ion-icon class="text-2xl text-[#4F378B]" name="close"></ion-icon>
      </button>

      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <ion-list class="py-0 px-6">
          <ion-item>
            <ion-input
              label="Nome"
              labelPlacement="floating"
              formControlName="name"
              autocomplete="address-line1"
              class="font-alternate"
              autocapitalize="true"
            ></ion-input>
          </ion-item>
          <p
            class="text-red-700 text-sm my-2 font-bold"
            *ngIf="name?.invalid && name?.touched"
          >
            Campo obrigatório. Deve ter pelo menos 3 caracteres.
          </p>
          <ion-item button lines="none" (click)="openTeamModal()">
            <ion-label slot="start">Selecione o time</ion-label>
            <ng-container *ngIf="team.value">
              <ion-thumbnail
                *ngIf="thumbnail()"
                class="flex items-center justify-center"
              >
                <img [src]="thumbnail()" [alt]="team.value" />
              </ion-thumbnail>
              <ion-text
                class="whitespace-nowrap text-ellipsis w-32 overflow-hidden pl-2"
              >
                {{ team.value }}
              </ion-text>
            </ng-container>
          </ion-item>
          <p
            class="text-red-700 text-sm my-2 pt-1 font-bold border-t border-red-700"
            *ngIf="team?.invalid && team?.touched"
          >
            Campo obrigatório. Selecione um time.
          </p>
        </ion-list>

        <div class="flex w-full px-6 justify-end py-4 gap-4">
          <ion-button
            color="secondary"
            shape="round"
            fill="outline"
            (click)="onModalDismiss()"
            >Cancelar</ion-button
          >
          <ion-button color="secondary" shape="round" type="submit">{{
            greetings?.isEdit ? "Salvar Alterações" : "Adicionar"
          }}</ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  #registerModalTeamRef
  [initialBreakpoint]="0.9"
  [breakpoints]="[0, 0.25, 0.5, 0.9]"
  (willDismiss)="onModalDismissTeams()"
>
  <ion-content>
    <ion-list class="pt-10 px-6" *ngIf="teams; else noTeams">
      <button
        (click)="onModalDismissTeams()"
        class="absolute top-4 right-4 z-10"
        ion-button
      >
        <ion-icon class="text-2xl text-[#4F378B]" name="close"></ion-icon>
      </button>
      <ion-item
        *ngFor="let item of teams(); trackBy: trackById"
        [ngClass]="{ 'is-selected': item.isSelected }"
        (click)="selectTeam(item)"
      >
        <ion-thumbnail slot="start">
          <img
            [src]="'assets/shield/' + item?.thumbnail + '.svg'"
            [alt]="item?.name"
          />
        </ion-thumbnail>
        <ion-label>{{ item?.name }}</ion-label>
      </ion-item>
    </ion-list>
    <ng-template #noTeams>
      <p class="text-center text-gray-500">Nenhum time encontrado.</p>
    </ng-template>
  </ion-content>
</ion-modal>
