html,
body {
  @apply bg-dark-blue;
}

ion-content {
  --background: var(--ion-color-primary);
}

ion-toolbar {
  --background: transparent;
}

ion-modal ion-content {
  --background: #ffffff;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-start: 0px;

  &.ion-invalid.ion-touched {
    --border-color: var(--ion-color-danger);
  }
}

.select-interface-option .alert-radio-label {
  &::before {
    content: "";
    @apply w-8 h-8 rounded-full bg-dark-blue align-middle inline-block m-1;
  }
}

@font-face {
  font-family: "DIN Alternate";
  src: url("../assets/fonts/DINAlternate-Bold.woff2") format("woff2"),
    url("../assets/fonts/DINAlternate-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN";
  src: url("../assets/fonts/DIN-Bold.woff2") format("woff2"),
    url("../assets/fonts/DIN-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
